Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Add Apache Mesos to dictionary (#790)
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/rules.md
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  vale/AmazonProductNames.jsonnet
  vale/ApacheProjectNames.jsonnet
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/ApacheProjectNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Makefile
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
  vale/fixtures/Grafana/ApacheProjectNames/.vale.ini
  vale/fixtures/Grafana/ApacheProjectNames/testinvalid.golden
  vale/fixtures/Grafana/ApacheProjectNames/testinvalid.md
  vale/fixtures/Grafana/ApacheProjectNames/testvalid.golden
  vale/fixtures/Grafana/ApacheProjectNames/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add 'unmanaged' and 'autoscalers' to the dictionary
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Added text formatting guidance for okay
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add some products and companies to dictionary
  docs/sources/review/lint-prose/rules.md
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  vale/Grafana/Acronyms.yml
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Grafana/_GoogleProductNames.yml
  vale/Headings.jsonnet
  vale/Makefile
  vale/_GoogleProductNames.jsonnet
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add text formatting guidance for okay (#792)
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add some products and companies to dictionary (#793)
  docs/sources/review/lint-prose/rules.md
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  vale/Grafana/Acronyms.yml
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Grafana/_GoogleProductNames.yml
  vale/Headings.jsonnet
  vale/Makefile
  vale/_GoogleProductNames.jsonnet
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Document tabs shortcode
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Reorder for clarity
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Correct keywords documentation
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add Asserts product to Vale dictionary
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Correct keywords documentation (#795)
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix GoogleProductNames naming and rule logic
  docs/sources/review/lint-prose/rules.md
  docs/variables.mk
  vale/GoogleProductNames.jsonnet
  vale/Grafana/GoogleProductNames.yml
  vale/Makefile
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix GoogleProductNames naming and rule logic (#797)
  docs/sources/review/lint-prose/rules.md
  docs/variables.mk
  vale/GoogleProductNames.jsonnet
  vale/Grafana/GoogleProductNames.yml
  vale/Makefile
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix Kubernetes Engine
  vale/Grafana/GoogleProductNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
  vale/fixtures/Grafana/OAuth/testinvalid.golden
Owners: @clayton-cornell, @jdbaldry

Update Headings.yml
  vale/Grafana/Headings.yml
Owners: @clayton-cornell, @jdbaldry

Add Asserts product to Vale dictionary (#796)
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Use nightly image
  .github/workflows/validate-documentation.yml
Owners: @jdbaldry

Started updates to visualization topic template
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Document `tabs` shortcode (#794)
  .github/workflows/validate-documentation.yml
  docs/sources/write/shortcodes/index.md
Owners: @jdbaldry, @chri2547, @clayton-cornell, @knylander-grafana

Add VPC to the Vale dictionary
  vale/Grafana/Acronyms.yml
  vale/Grafana/Headings.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

adds pyro-flamegraph shortcode to docs
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Lint
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Copy edits
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Updated image, directions and examples
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Updated template and small edits to visualization topic
  docs/sources/structure/topic-types/visualization/index.md
  docs/static/templates/visualization-template.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Document pyro-flame-graph shortcode (#800)
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add VPC to the Vale dictionary (#799)
  vale/Grafana/Acronyms.yml
  vale/Grafana/Headings.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Move Pyroscope heading to be in alphabetical order
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add rule to catch use of smart quotes
  vale/Grafana/SmartQuotes.yml
  vale/fixtures/Grafana/SmartQuotes/.vale.ini
  vale/fixtures/Grafana/SmartQuotes/testinvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testinvalid.md
  vale/fixtures/Grafana/SmartQuotes/testvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Remove smart quotes from possessives rule now that it's caught elsewhere
  vale/Grafana/ProductPossessives.yml
  vale/ProductPossessives.jsonnet
  vale/fixtures/Grafana/ProductPossessives/testinvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testinvalid.md
Owners: @clayton-cornell, @jdbaldry

Update documentation
  docs/sources/review/lint-prose/rules.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add rule to catch use of smart quotes (#748)
  docs/sources/review/lint-prose/rules.md
  vale/Grafana/ProductPossessives.yml
  vale/Grafana/SmartQuotes.yml
  vale/ProductPossessives.jsonnet
  vale/fixtures/Grafana/ProductPossessives/testinvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testinvalid.md
  vale/fixtures/Grafana/SmartQuotes/.vale.ini
  vale/fixtures/Grafana/SmartQuotes/testinvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testinvalid.md
  vale/fixtures/Grafana/SmartQuotes/testvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Copy edits
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Apply suggestions from code review
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added vale skip
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Update docs/sources/structure/topic-types/visualization/index.md
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Apply suggestions from code review
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Docs: Update visualization topic and template (#801)
  docs/sources/structure/topic-types/visualization/index.md
  docs/static/templates/visualization-template.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez
