Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Update spelling feedback to link to the documentation
  vale/Grafana/Spelling.yml
Owners: @clayton-cornell, @jdbaldry

Note that menuTitles should include the task topic verb
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix variable syntax
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Tutorial topic' page (#722)
  docs/sources/structure/topic-types/tutorial/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

s/acronym/abbreviation/g
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/dictionary/add-words.md
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix link and update examples
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Expand task for all general words
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Note that all affixes are case sensitive
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Use established abbreviation in example
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Encourage the addition of descriptions
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Note that Jsonnet doesn't require specific whitespace
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Document how to add words to the Vale dictionary (#719)
  docs/sources/review/lint-prose/_index.md
  docs/sources/review/lint-prose/dictionary.md
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/dictionary/add-words.md
  vale/Grafana/Spelling.yml
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Use title not heading
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Use title not heading
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Removed to do note
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Removed to do note (#732)
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add callee to the dictionary
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update generation of abbreviation and headings rules
  vale/Acronyms.jsonnet
  vale/Headings.jsonnet
Owners: @clayton-cornell, @jdbaldry

Revert "Removed to do note (#732)"
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Clarify that verbs can be omitted in some contexts
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Note that menuTitles should include the task topic verb (#727)
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update reviewed date
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add callee to the dictionary (#733)
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add visualization topic examples
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add contentful to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update vale/dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update dictionary
  vale/dictionaries/en_US-grafana.dic
Owners: @clayton-cornell, @jdbaldry

Add contentful to dictionary.jsonnet (#728)
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add rule for catching and/or
  vale/Grafana/AndOr.yml
  vale/fixtures/Grafana/AndOr/.vale.ini
  vale/fixtures/Grafana/AndOr/testinvalid.golden
  vale/fixtures/Grafana/AndOr/testinvalid.md
  vale/fixtures/Grafana/AndOr/testvalid.golden
  vale/fixtures/Grafana/AndOr/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add Admin rule that clarifies when it's OK to use admin instead of administrator
  vale/Grafana/Admin.yml
  vale/Grafana/WordList.yml
  vale/fixtures/Grafana/Admin/.vale.ini
  vale/fixtures/Grafana/Admin/testinvalid.golden
  vale/fixtures/Grafana/Admin/testinvalid.md
  vale/fixtures/Grafana/Admin/testvalid.golden
  vale/fixtures/Grafana/Admin/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add Vale linting rule for use of agentless
  docs/sources/write/style-guide/word-list/index.md
  vale/Grafana/Agentless.yml
  vale/fixtures/Grafana/Agentless/.vale.ini
  vale/fixtures/Grafana/Agentless/testinvalid.golden
  vale/fixtures/Grafana/Agentless/testinvalid.md
  vale/fixtures/Grafana/Agentless/testvalid.golden
  vale/fixtures/Grafana/Agentless/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add rule for catching and/or (#737)
  vale/Grafana/AndOr.yml
  vale/fixtures/Grafana/AndOr/.vale.ini
  vale/fixtures/Grafana/AndOr/testinvalid.golden
  vale/fixtures/Grafana/AndOr/testinvalid.md
  vale/fixtures/Grafana/AndOr/testvalid.golden
  vale/fixtures/Grafana/AndOr/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add Admin rule that clarifies when it's OK to use admin instead of administrator (#738)
  vale/Grafana/Admin.yml
  vale/Grafana/WordList.yml
  vale/fixtures/Grafana/Admin/.vale.ini
  vale/fixtures/Grafana/Admin/testinvalid.golden
  vale/fixtures/Grafana/Admin/testinvalid.md
  vale/fixtures/Grafana/Admin/testvalid.golden
  vale/fixtures/Grafana/Admin/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Review 'Media guidlines' page
  docs/sources/write/image-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Add words' page
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Added agentless and no collector to word list
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Replaced see with refer to
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added hyphen to no collector
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added agentless and no collector to word list (#741)
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Update docs/sources/write/style-guide/word-list/index.md
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez
