Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

Adhere to style guide in Vale linting rule messages
  docs/sources/review/lint-prose/rules.md
  tools/cmd/generate-documentation/main.go
  vale/Acronyms.jsonnet
  vale/Grafana/Acronyms.yml
  vale/Grafana/Agentless.yml
  vale/Grafana/AndOr.yml
  vale/Grafana/CHANGELOG.yml
  vale/Grafana/CommandLinePrompts.yml
  vale/Grafana/README.yml
  vale/Grafana/SQL.yml
  vale/fixtures/Grafana/Agentless/testinvalid.golden
  vale/fixtures/Grafana/AndOr/testinvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.golden
  vale/fixtures/Grafana/OAuth/testinvalid.golden
  vale/fixtures/Grafana/SQL/testinvalid.golden
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add Vale rule reference page (#755)
  docs/sources/review/lint-prose/rules.md
  tools/cmd/generate-documentation/main.go
  vale/Acronyms.jsonnet
  vale/Grafana/Acronyms.yml
  vale/Grafana/Agentless.yml
  vale/Grafana/AndOr.yml
  vale/Grafana/CHANGELOG.yml
  vale/Grafana/CommandLinePrompts.yml
  vale/Grafana/README.yml
  vale/Grafana/SQL.yml
  vale/Grafana/Shortcodes.yml
  vale/Makefile
  vale/fixtures/Grafana/Agentless/testinvalid.golden
  vale/fixtures/Grafana/AndOr/testinvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.golden
  vale/fixtures/Grafana/SQL/testinvalid.golden
  vale/fixtures/Grafana/Shortcodes/testinvalid.golden
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Reuse directories of content'
  docs/sources/write/reuse-content/reuse-directories/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Markdown guide'
  docs/sources/write/markdown-guide/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Markdown guide' (#757)
  docs/sources/write/markdown-guide/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Clarify Hugo module mounts behavior
  docs/sources/write/reuse-content/reuse-directories/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Reuse directories of content' (#756)
  docs/sources/write/reuse-content/reuse-directories/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Write' page
  docs/sources/write/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Write' page (#758)
  docs/sources/write/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add RBAC to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add RBAC to dictionary.jsonnet (#759)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update generated output
  vale/Grafana/Acronyms.yml
  vale/Grafana/Headings.yml
  vale/dictionaries/en_US-grafana.dic
Owners: @clayton-cornell, @jdbaldry

Lint README.md
  README.md
Owners: @jdbaldry

Update review tool to work with quoted string dates
  tools/cmd/review/main.go
Owners: @jdbaldry

Review "Reuse shared content"
  docs/sources/write/reuse-content/reuse-shared-content/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Style guide' page
  docs/sources/write/style-guide/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Re-review 'Inclusive writing' page
  docs/sources/write/style-guide/inclusive-writing/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'UX writing' page
  docs/sources/write/style-guide/ux-writing/error.png
  docs/sources/write/style-guide/ux-writing/index.md
  docs/sources/write/style-guide/ux-writing/info.png
  docs/sources/write/style-guide/ux-writing/success.png
  docs/sources/write/style-guide/ux-writing/tooltip.png
  docs/sources/write/style-guide/ux-writing/warning.png
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Voice and tone guidelines'
  docs/sources/write/style-guide/voice-tone-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Word list' page
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Write for developers' page
  docs/sources/write/style-guide/write-for-developers/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review "Reuse shared content" (#763)
  docs/sources/write/reuse-content/reuse-shared-content/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Style guide' page (#764)
  docs/sources/write/style-guide/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Re-review 'Inclusive writing' page (#765)
  docs/sources/write/style-guide/inclusive-writing/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Voice and tone guidelines' (#767)
  docs/sources/write/style-guide/voice-tone-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Word list' page (#768)
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Write for developers' page (#769)
  docs/sources/write/style-guide/write-for-developers/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'UX writing' page (#766)
  docs/sources/write/style-guide/ux-writing/error.png
  docs/sources/write/style-guide/ux-writing/index.md
  docs/sources/write/style-guide/ux-writing/info.png
  docs/sources/write/style-guide/ux-writing/success.png
  docs/sources/write/style-guide/ux-writing/tooltip.png
  docs/sources/write/style-guide/ux-writing/warning.png
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Fix suppression of /docs/ homepage REF_NOT_FOUND logs
  docs/make-docs
Owners: @jdbaldry

Fix suppression of /docs/ homepage REF_NOT_FOUND logs
  docs/make-docs
Owners: @jdbaldry

Document docs/ignore shortcode
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Recommend only ordinary Markdown
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Document that you generally want to avoid duplicate headings
  docs/sources/write/markdown-guide/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Document that you generally want to avoid duplicate headings (#771)
  docs/sources/write/markdown-guide/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Added abstract UI elements to capitalization page
  docs/sources/write/style-guide/capitalization-punctuation/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Updated bold text formatting section
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Wording edits
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Wording edits
  docs/sources/write/style-guide/capitalization-punctuation/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Apply suggestions from code review
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Docs: add text formatting rules (#772)
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez
