Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Update linting rule to match documentation
  vale/Grafana/Agentless.yml
Owners: @clayton-cornell, @jdbaldry

Update link to documentation
  vale/Grafana/Agentless.yml
Owners: @clayton-cornell, @jdbaldry

docs: extend skip rules example
  docs/sources/review/lint-prose/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Updated example
  docs/sources/review/lint-prose/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add some words encountered in Killercoda tutorial
  vale/Grafana/Acronyms.yml
  vale/Grafana/Archives.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Allow 'kube-prometheus': https://github.com/prometheus-operator/kube-prometheus
  vale/Grafana/WordList.yml
Owners: @clayton-cornell, @jdbaldry

Apply suggestions from code review
  docs/sources/write/image-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Allow 'kube-prometheus' (#743)
  vale/Grafana/WordList.yml
Owners: @clayton-cornell, @jdbaldry

Review 'Media guidelines' page (#740)
  docs/sources/write/image-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add Vale linting rule for use of agentless (#739)
  docs/sources/write/style-guide/word-list/index.md
  vale/Grafana/Agentless.yml
  vale/fixtures/Grafana/Agentless/.vale.ini
  vale/fixtures/Grafana/Agentless/testinvalid.golden
  vale/fixtures/Grafana/Agentless/testinvalid.md
  vale/fixtures/Grafana/Agentless/testvalid.golden
  vale/fixtures/Grafana/Agentless/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

docs: extend skip rules example (#735)
  docs/sources/review/lint-prose/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Catch possessives with ’ (right single quotation mark)
  vale/Grafana/ProductPossessives.yml
  vale/ProductPossessives.jsonnet
  vale/fixtures/Grafana/ProductPossessives/.vale.ini
  vale/fixtures/Grafana/ProductPossessives/testinvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testinvalid.md
  vale/fixtures/Grafana/ProductPossessives/testvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add zlib and glob
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add CORS and TLS
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add missing commas
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add missing quote
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add keepalive
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add Kerberos
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Updated list of examples
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add visualization topic examples (#736)
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Catch possessives with ’ (right single quotation mark) (#744)
  vale/Grafana/ProductPossessives.yml
  vale/ProductPossessives.jsonnet
  vale/fixtures/Grafana/ProductPossessives/.vale.ini
  vale/fixtures/Grafana/ProductPossessives/testinvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testinvalid.md
  vale/fixtures/Grafana/ProductPossessives/testvalid.golden
  vale/fixtures/Grafana/ProductPossessives/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Regenerate dictionaries
  vale/Grafana/Acronyms.yml
  vale/Grafana/Headings.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add new words to the dictionary (#745)
  vale/Grafana/Acronyms.yml
  vale/Grafana/Headings.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update golden files
  vale/fixtures/Grafana/Agentless/testinvalid.golden
Owners: @clayton-cornell, @jdbaldry

Update abbreviation rules so that elaborations are in heading exceptions
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Headings.jsonnet
  vale/ProductPossessives.jsonnet
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update abbreviation rules so that elaborations are in heading exceptions and add web-vital product headings (#747)
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Headings.jsonnet
  vale/ProductPossessives.jsonnet
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Fix spelling and add description
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update dictionary.jsonnet (#708)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Regenerate dictionary and vale rules
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
Owners: @clayton-cornell, @jdbaldry

Start writing rule for catching smart quotes
  vale/Grafana/SmartQuotes.yml
  vale/fixtures/Grafana/SmartQuotes/.vale.ini
  vale/fixtures/Grafana/SmartQuotes/testinvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testinvalid.md
  vale/fixtures/Grafana/SmartQuotes/testvalid.golden
  vale/fixtures/Grafana/SmartQuotes/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Update Latin regexps to better catch cases of e.g. and i.e.
  vale/Grafana/Latin.yml
  vale/fixtures/Grafana/Latin/.vale.ini
  vale/fixtures/Grafana/Latin/testinvalid.golden
  vale/fixtures/Grafana/Latin/testinvalid.md
  vale/fixtures/Grafana/Latin/testvalid.golden
  vale/fixtures/Grafana/Latin/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Update Latin regexps to better catch cases of e.g. and i.e. (#749)
  vale/Grafana/Latin.yml
  vale/fixtures/Grafana/Latin/.vale.ini
  vale/fixtures/Grafana/Latin/testinvalid.golden
  vale/fixtures/Grafana/Latin/testinvalid.md
  vale/fixtures/Grafana/Latin/testvalid.golden
  vale/fixtures/Grafana/Latin/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Review 'Links' page
  docs/sources/write/links/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'An example of the `refs` front matter'
  docs/sources/shared/refs-example.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'An example of the `refs` front matter' (#751)
  docs/sources/shared/refs-example.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Review 'Links' page (#750)
  docs/sources/write/links/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add script that outputs the first commit date of a file
  scripts/add-date
Owners: @jdbaldry

Add tool to update front matter
  tools/.golangci.yml
  tools/cmd/update-front-matter/main.go
  tools/exit/exit.go
  tools/go.mod
  tools/go.sum
  tools/hugo/hugo.go
  tools/rwfilefs/mapfs.go
  tools/rwfilefs/osdirfs.go
  tools/rwfilefs/rwfilefs.go
Owners: @jdbaldry

Start generating Vale rules documentation
  docs/sources/review/lint-prose/rules.md
  tools/cmd/generate-documentation/main.go
  vale/Grafana/Shortcodes.yml
  vale/Makefile
  vale/fixtures/Grafana/OAuth/testinvalid.golden
  vale/fixtures/Grafana/Shortcodes/testinvalid.golden
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Avoid stacked headings
  tools/cmd/generate-documentation/main.go
Owners: @jdbaldry
