Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Add Vale rule to lint for http://grafana.com links
  vale/Grafana/HTTP.yml
  vale/fixtures/Grafana/HTTP/.vale.ini
  vale/fixtures/Grafana/HTTP/testinvalid.golden
  vale/fixtures/Grafana/HTTP/testinvalid.md
  vale/fixtures/Grafana/HTTP/testvalid.golden
  vale/fixtures/Grafana/HTTP/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add rule to catch correct spelling of Datadog proxy
  vale/Grafana/DatadogProxy.yml
  vale/fixtures/Grafana/DatadogProxy/.vale.ini
  vale/fixtures/Grafana/DatadogProxy/testinvalid.golden
  vale/fixtures/Grafana/DatadogProxy/testinvalid.md
  vale/fixtures/Grafana/DatadogProxy/testvalid.golden
  vale/fixtures/Grafana/DatadogProxy/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Fix uses of we
  docs/sources/contribute/release-notes/index.md
  docs/sources/write/style-guide/ux-writing/index.md
  docs/sources/write/style-guide/voice-tone-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @imatwawana, @josmperez

Fix gerunds
  docs/sources/contribute/release-notes/index.md
  docs/sources/review/backport-changes/index.md
  docs/sources/review/cla-assistant/index.md
  docs/sources/write/markdown-guide/index.md
  docs/sources/write/shortcodes/index.md
  docs/sources/write/style-guide/inclusive-writing/index.md
  vale/Grafana/Gerunds.yml
  vale/fixtures/Grafana/Gerunds/testinvalid.golden
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @imatwawana, @josmperez

Add rule to lint for use of command line prompts
  vale/Grafana/CommandLinePrompts.yml
  vale/fixtures/Grafana/CommandLinePrompts/.vale.ini
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.md
  vale/fixtures/Grafana/CommandLinePrompts/testvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Fix code blocks in Writers' Toolkit
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/write/reuse-content/reuse-shared-content/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix broken link
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add rule to catch correct spelling of Datadog proxy (#714)
  vale/Grafana/DatadogProxy.yml
  vale/fixtures/Grafana/DatadogProxy/.vale.ini
  vale/fixtures/Grafana/DatadogProxy/testinvalid.golden
  vale/fixtures/Grafana/DatadogProxy/testinvalid.md
  vale/fixtures/Grafana/DatadogProxy/testvalid.golden
  vale/fixtures/Grafana/DatadogProxy/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add Vale rule to lint for http://grafana.com links (#713)
  vale/Grafana/HTTP.yml
  vale/fixtures/Grafana/HTTP/.vale.ini
  vale/fixtures/Grafana/HTTP/testinvalid.golden
  vale/fixtures/Grafana/HTTP/testinvalid.md
  vale/fixtures/Grafana/HTTP/testvalid.golden
  vale/fixtures/Grafana/HTTP/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Only run in certain block kinds
  vale/Grafana/CommandLinePrompts.yml
Owners: @clayton-cornell, @jdbaldry

Catch documentation squad and Documentation Team variants
  vale/Grafana/DocumentationTeam.yml
Owners: @clayton-cornell, @jdbaldry

Clarify products and grammatical ambiguity
  docs/sources/review/lint-prose/dictionary.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add reference documentation for dictionary template file (#710)
  docs/sources/review/lint-prose/dictionary.md
  vale/Grafana/DocumentationTeam.yml
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Explain differences when working in the website repository
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/shared/make-help.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix broken link (#717)
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add `review_date` front matter documentation
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update docs/sources/write/front-matter/index.md
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix Vale linting errors (#715)
  docs/sources/contribute/release-notes/index.md
  docs/sources/review/backport-changes/index.md
  docs/sources/review/cla-assistant/index.md
  docs/sources/write/markdown-guide/index.md
  docs/sources/write/shortcodes/index.md
  docs/sources/write/style-guide/inclusive-writing/index.md
  docs/sources/write/style-guide/ux-writing/index.md
  docs/sources/write/style-guide/voice-tone-guidelines/index.md
  vale/Grafana/Gerunds.yml
  vale/fixtures/Grafana/Gerunds/testinvalid.golden
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @imatwawana, @josmperez

Update golden files
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.golden
Owners: @clayton-cornell, @jdbaldry

Be specific about setting the date and not the time
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add `review_date` front matter documentation (#720)
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Apply suggestions from code review
  docs/sources/review/test-documentation-changes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Explain differences when working in the website repository (#718)
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/shared/make-help.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add rule to lint for use of command line prompts (#716)
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/write/reuse-content/reuse-shared-content/index.md
  vale/Grafana/CommandLinePrompts.yml
  vale/fixtures/Grafana/CommandLinePrompts/.vale.ini
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testinvalid.md
  vale/fixtures/Grafana/CommandLinePrompts/testvalid.golden
  vale/fixtures/Grafana/CommandLinePrompts/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add rule for catching empty alt text in Markdown images
  vale/Grafana/AltText.yml
  vale/fixtures/Grafana/AltText/.vale.ini
  vale/fixtures/Grafana/AltText/testinvalid.golden
  vale/fixtures/Grafana/AltText/testinvalid.md
  vale/fixtures/Grafana/AltText/testvalid.golden
  vale/fixtures/Grafana/AltText/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Update golden files
  vale/fixtures/Grafana/DatadogProxy/testinvalid.golden
Owners: @clayton-cornell, @jdbaldry

Review 'Tutorial topic' page
  docs/sources/structure/topic-types/tutorial/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Visualization topic' page
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Task topic' page
  docs/sources/structure/topic-types/task/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Use correct placeholder syntax
  docs/sources/review/cla-assistant/index.md
  docs/sources/review/doc-validator/_index.md
  docs/sources/review/lint-prose/index.md
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/shared/refs-example.md
  docs/sources/structure/topic-types/tutorial/index.md
  docs/sources/write/links/_index.md
  docs/sources/write/shortcodes/index.md
  docs/sources/write/tooling-and-workflows/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Clarify that the Mimir example is a contrast not a comparison
  docs/sources/structure/topic-types/tutorial/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Prefer 'refer to' over 'see'
  docs/sources/structure/topic-types/tutorial/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Task topic' page (#723)
  docs/sources/structure/topic-types/task/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Visualization topic' page (#724)
  docs/sources/structure/topic-types/visualization/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Use correct placeholder syntax (#725)
  docs/sources/review/cla-assistant/index.md
  docs/sources/review/doc-validator/_index.md
  docs/sources/review/lint-prose/index.md
  docs/sources/review/test-documentation-changes/index.md
  docs/sources/shared/refs-example.md
  docs/sources/structure/topic-types/tutorial/index.md
  docs/sources/write/links/_index.md
  docs/sources/write/shortcodes/index.md
  docs/sources/write/tooling-and-workflows/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add rule for catching empty alt text in Markdown images (#721)
  vale/Grafana/AltText.yml
  vale/fixtures/Grafana/AltText/.vale.ini
  vale/fixtures/Grafana/AltText/testinvalid.golden
  vale/fixtures/Grafana/AltText/testinvalid.md
  vale/fixtures/Grafana/AltText/testvalid.golden
  vale/fixtures/Grafana/AltText/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add misconfigured to dictionary
  docs/sources/review/lint-prose/dictionary.md
  vale/dictionaries/en_US-grafana.aff
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add misconfigured to dictionary (#726)
  docs/sources/review/lint-prose/dictionary.md
  vale/dictionaries/en_US-grafana.aff
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Start documenting how to add words
  docs/sources/review/lint-prose/_index.md
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add the rest of the steps
  docs/sources/review/lint-prose/dictionary/add-words.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana
