Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Review 'GNU Make help output' shared page
  docs/sources/shared/make-help.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update Structure guidelines to explain established exceptions (#627)
  docs/sources/structure/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'About documentation design' page (#690)
  docs/sources/structure/about-documentation-design/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'GNU Make help output' shared page (#691)
  docs/sources/shared/make-help.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add retryable adjective (#686)
  vale/Makefile
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add scheduler to dictionary with possessive affix rules
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Review 'Topic types' page
  docs/sources/structure/topic-types/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Reference topic' page
  docs/sources/structure/topic-types/reference/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Concept topic' page
  docs/sources/structure/topic-types/concept/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Update headings list
  vale/Grafana/Headings.yml
Owners: @clayton-cornell, @jdbaldry

Update docs/sources/structure/topic-types/concept/index.md
  docs/sources/structure/topic-types/concept/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add windows_exporter to dictionary
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Review 'Topic types' page (#696)
  docs/sources/structure/topic-types/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Reference topic' page (#697)
  docs/sources/structure/topic-types/reference/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add scheduler to dictionary with possessive affix rules (#692)
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add Vale rule to lint for writing specific shortcodes with percent syntax
  vale/Grafana/Shortcodes.yml
  vale/fixtures/Grafana/Shortcodes/.vale.ini
  vale/fixtures/Grafana/Shortcodes/testinvalid.golden
  vale/fixtures/Grafana/Shortcodes/testinvalid.md
  vale/fixtures/Grafana/Shortcodes/testvalid.golden
  vale/fixtures/Grafana/Shortcodes/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add SUT acronym (system under test) to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add CDN to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add Brotli to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add viewport to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add overutilization to dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add Vale rule to lint for writing specific shortcodes with percent syntax (#700)
  vale/Grafana/Shortcodes.yml
  vale/fixtures/Grafana/Shortcodes/.vale.ini
  vale/fixtures/Grafana/Shortcodes/testinvalid.golden
  vale/fixtures/Grafana/Shortcodes/testinvalid.md
  vale/fixtures/Grafana/Shortcodes/testvalid.golden
  vale/fixtures/Grafana/Shortcodes/testvalid.md
Owners: @clayton-cornell, @jdbaldry

Add windows_exporter to dictionary (#699)
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update product possessives
  vale/Grafana/ProductPossessives.yml
Owners: @clayton-cornell, @jdbaldry

Apply suggestions from code review
  docs/sources/write/style-guide/inclusive-writing/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Start reference documentation for dictionary template file
  docs/sources/review/lint-prose/dictionary.md
  vale/dictionary.jsonnet
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Use easier to understand wording
  docs/sources/structure/topic-types/concept/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Review 'Inclusive writing' page (#657)
  docs/sources/write/style-guide/inclusive-writing/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Include word in issue title for spelling false positive
  vale/Grafana/Spelling.yml
Owners: @clayton-cornell, @jdbaldry

Include word in issue title for spelling false positive (#709)
  vale/Grafana/Spelling.yml
Owners: @clayton-cornell, @jdbaldry

Review 'Concept topic' page (#698)
  docs/sources/structure/topic-types/concept/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Add overutilization to dictionary.jsonnet (#705)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update vale/dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add SUT acronym (system under test) to dictionary.jsonnet (#701)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add CDN to dictionary.jsonnet (#702)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add Brotli to dictionary.jsonnet (#703)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update vale/dictionary.jsonnet
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Add viewport to dictionary.jsonnet (#704)
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Update dictionaries
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/dictionaries/en_US-grafana.dic
Owners: @clayton-cornell, @jdbaldry
