Repository grafana/writers-toolkit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jdbaldry, @clayton-cornell, @chri2547, @knylander-grafana, @josmperez, @imatwawana

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

*  @jdbaldry

/vale/  @clayton-cornell @jdbaldry

/docs/sources/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana

/docs/sources/structure/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

/docs/sources/contribute/release-notes/  @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @imatwawana
/docs/sources/write/style-guide/         @chri2547 @clayton-cornell @jdbaldry @knylander-grafana @josmperez

Document docs/ignore shortcode (#770)
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Updated rules for abstract UI concepts and table formatting
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added guidance on when to rename files and fixed heading levels
  docs/sources/write/front-matter/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Added guidance for mentioning other companies
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added table example for bold formatting
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Ran prettier
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Update guidance for abstract concepts, other company names, renaming files (#777)
  docs/sources/write/front-matter/index.md
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  docs/sources/write/style-guide/style-conventions/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added okay guidance
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Added guidance for the word okay (#778)
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Document duplicate heading ids and how to avoid them
  docs/sources/write/markdown-guide/index.md
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update Vale to reflect okay guidance
  docs/sources/review/lint-prose/rules.md
  vale/Grafana/OK.yml
  vale/Grafana/WordList.yml
  vale/fixtures/Grafana/OK/.vale.ini
  vale/fixtures/Grafana/OK/testinvalid.golden
  vale/fixtures/Grafana/OK/testinvalid.md
  vale/fixtures/Grafana/OK/testvalid.golden
  vale/fixtures/Grafana/OK/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update docs/sources/review/lint-prose/rules.md
  docs/sources/review/lint-prose/rules.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update Vale to reflect okay guidance (#780)
  docs/sources/review/lint-prose/rules.md
  vale/Grafana/OK.yml
  vale/Grafana/WordList.yml
  vale/fixtures/Grafana/OK/.vale.ini
  vale/fixtures/Grafana/OK/testinvalid.golden
  vale/fixtures/Grafana/OK/testinvalid.md
  vale/fixtures/Grafana/OK/testvalid.golden
  vale/fixtures/Grafana/OK/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update docs/sources/write/shortcodes/index.md
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add queryless to dictionary
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Remove empty "Video" section
  docs/sources/write/image-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Remove trailing space
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Remove empty "Video" section (#783)
  docs/sources/write/image-guidelines/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add queryless to dictionary (#782)
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
Owners: @clayton-cornell, @jdbaldry

Updated OK okay guidance in style guide
  docs/sources/write/style-guide/style-conventions/index.md
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Updated some Vale files
  docs/sources/review/lint-prose/rules.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add Vale rule skip
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Updated guidance and exceptions
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Reviewdog issue
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Reviewdog issue
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Discard changes to docs/sources/review/lint-prose/rules.md
  docs/sources/review/lint-prose/rules.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Ran prettier
  vale/Google/WordList.yml
  vale/Grafana/OK.yml
Owners: @clayton-cornell, @jdbaldry

Discard changes to vale/Google/WordList.yml
  vale/Google/WordList.yml
Owners: @clayton-cornell, @jdbaldry

Discard changes to vale/Grafana/OK.yml
  vale/Grafana/OK.yml
Owners: @clayton-cornell, @jdbaldry

Trying to resolve Reviewdog issue
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

re-added deleted bullet list item
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Update docs/sources/write/shortcodes/index.md
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update OK/okay guidance in style guide and Vale (#785)
  docs/sources/write/style-guide/style-conventions/index.md
  docs/sources/write/style-guide/word-list/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Document duplicate heading ids and how to avoid them (#779)
  docs/sources/write/markdown-guide/index.md
  docs/sources/write/shortcodes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Update Vale rule to match OK style guidance
  docs/sources/review/lint-prose/rules.md
  vale/Grafana/OK.yml
  vale/fixtures/Grafana/OK/testinvalid.golden
  vale/fixtures/Grafana/OK/testinvalid.md
  vale/fixtures/Grafana/OK/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Clarify that you can add labels before or after a pull request is merged
  docs/sources/review/backport-changes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Clarify that you can add labels before or after a pull request is merged (#788)
  docs/sources/review/backport-changes/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Add Apache Mesos to dictionary
  docs/sources/review/lint-prose/dictionary/_index.md
  docs/sources/review/lint-prose/rules.md
  docs/sources/write/style-guide/capitalization-punctuation/index.md
  vale/AmazonProductNames.jsonnet
  vale/ApacheProjectNames.jsonnet
  vale/Grafana/AmazonProductNames.yml
  vale/Grafana/ApacheProjectNames.yml
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Makefile
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary.jsonnet
  vale/fixtures/Grafana/ApacheProjectNames/.vale.ini
  vale/fixtures/Grafana/ApacheProjectNames/testinvalid.golden
  vale/fixtures/Grafana/ApacheProjectNames/testinvalid.md
  vale/fixtures/Grafana/ApacheProjectNames/testvalid.golden
  vale/fixtures/Grafana/ApacheProjectNames/testvalid.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez

Try to clarify when to use ref URIs
  docs/sources/write/links/_index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana

Fix use of Mesos according to style
  docs/sources/write/style-guide/capitalization-punctuation/index.md
Owners: @chri2547, @clayton-cornell, @jdbaldry, @knylander-grafana, @josmperez
