Repository grafana/writers-toolkit, pull requests merged in 2024-09, with the labels that each got.

#836 Added guidance for self-managed, end-to-end, and meta-monitoring
  docs/sources/whats-new.md
  docs/sources/write/style-guide/word-list/index.md
  vale/Grafana/EndToEnd.yml
  vale/Grafana/MetaMonitoring.yml
Labels: type/docs

#843 Use issue-commands GitHub App
  .github/workflows/backport.yml
  .github/workflows/issue_and_pr_commands.yml
Labels: type/docs, tooling, backport long-lived-branch

#844 Use centralized "Add to docs project" action
  .github/issue_and_pr_commands.json
  .github/workflows/add-to-docs-project.yml
  .github/workflows/issue_and_pr_commands.yml
  .github/workflows/prettier.yml
  .github/workflows/publish-technical-documentation.yml
  add-to-docs-project/action.yml
Labels: type/docs

#845 Test with issues event but only for Pull Requests
  .github/workflows/backport.yml
Labels: backport long-lived-branch

#848 Update v.jsonnet for VM and VMware
  docs/sources/review/lint-prose/rules.md
  vale/Grafana/Headings.yml
  vale/Grafana/ProductPossessives.yml
  vale/Grafana/WordList.yml
  vale/dictionaries/en_US-grafana.dic
  vale/dictionary/v.jsonnet
  vale/fixtures/Grafana/Admin/testinvalid.golden
  vale/fixtures/Grafana/Agentless/testinvalid.golden
  vale/fixtures/Grafana/DropDown/testinvalid.golden
  vale/fixtures/Grafana/Quickstart/testinvalid.golden
  vale/fixtures/Grafana/Shortcodes/testinvalid.golden
Labels: type/docs
